extends ../base.pug

block nav
    - var curPath = '/admin';

block css
    link(rel="stylesheet", href="/css/admin/products.css")
    //- link(rel="stylesheet", href="/css/util/forms.css")

block js
    script(src="/js/admin/products.js")

block content
    input(type="hidden", name="_csrf" value=csrfToken)
    template(id="product-edit")
        .product
            //- form(method="POST")
            input(type="hidden", name="id")
            .product-header.rows
                .control
                    label(for="name") Nombre
                    input(type="text" name="name")
                .control
                    label(for="price") Precio
                    input(type="number" name="price" step="0.01")
            .control
                //- Fill by code.
                img.product-image(src="...", alt="..." name="img")
                input(type="file" name="img-picker")
            .product-info    
                .control
                    label(for="description") Descripcion
                    textarea(name="description")
                .product-actions
                    button.product-accept Confirmar
                    button.product-cancel Cancelar

    template(id="product-finished")
        .product
            .product-header
                h3.product-name NAME
                .product-price-section
                    p.product-price ALGO
                    p.dollar mxn
            img.product-image(src="...", alt="")
            .product-info
                input.product-id(type="hidden" value="Nothing")
                p.product-description DESCRIPTION
            .product-actions
                button.product-edit Editar
                button.product-delete Eliminar

    h2 Productos
    .products
        for product in products
            .product
                .product-header
                    h3.product-name #{product.name}
                    .product-price-section
                        p.product-price #{product.price}
                        p.dollar mxn
                img.product-image(src=product.image, alt="")
                .product-info
                    input.product-id(type="hidden" value=product._id)
                    p.product-description #{product.description}
                    .product-actions
                        button.product-edit Editar
                        button.product-delete Eliminar
        .product
            a.add
                img(src="https://cdn.pixabay.com/photo/2012/04/10/23/39/sign-27080_1280.png", alt="")