extends ../base.pug

block nav
    - var curPath = '/products';

block css
    link(rel="stylesheet", href="css/shop/products.css")

block content
    h2 Productos
    if products.length > 0
        .products
            for product in products
                .product
                    .product-header
                        h3.product-name #{product.name}
                        p.product-price
                            |#{product.price}
                            span.dollar $
                    img.product-image(src=product.image, alt="")
                    .product-info
                        p.product-description #{product.description}
                        if product.url !== ''            
                            a.product-buy(href=product.url) Comprar
                        else
                            a.product-contact(href='/contact') Contactar
    else
        h2 No hay productos agregados de momento.